        body {
            background-color: #37BBFF;
            

}

  .column {
    flex: 1;
    text-align: center;
    padding: 10px;
  }
    

    header {
        background-image: url(/picture/construction.jpg);
        background-size: cover;
        background-position: center;
        height: 150px;
        text-align: center;
      }
      
      header h1 {
        font-size: 30px;
        margin: 20px;
        padding: 50px;
      }

      .navigation {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
      }
      
      .navigation a {
        text-decoration: none;
        color: #333;
        padding: 10px;
        border: 2px solid #000000;
      }
      
      .navigation a:hover {
        background-color: #ddd;
      }

/* Media query for tablets */
@media (max-width: 768px) {

    .container {
        display: block;
            }
   
    .image1 {
        
        margin: 5px;
        max-width: 90%;
    height: auto;
    }
    .paragraph1 {
    text-align: center;
    font-size: 30px;
    max-width: 90%;
    }
  
    header,
    main,
  
  
    
  }
  
  /* Media query for iPhones */
  @media (max-width: 576px) {
    .container {
display: block;
    }
    .image1 {
        margin: 5px;
        max-width: 90%;
    height: auto;
    }
    .paragraph1 {
    text-align: center;
    font-size: 20px;
    max-width: 90%;
    }
    header,
    main,
   
  
    
  }
  
  /* Media query for computers */
  @media (min-width: 992px) {
    .image1 {
        margin: 5px;
    
    max-width: 90%;
    }
    .paragraph1 {
    text-align: center;
    font-size: 50px;
    max-width: 90%;
    }
    .container {
        
        font-family: Calibri, sans-serif;
       
            display: flex;
            
            margin: 5px;
       
      
    }
  
    
  }

